{
    order php_server before file_server
    auto_https off
    log {
        output stdout
        level DEBUG
    }
}

:8080 {
    root * /app/public
    encode zstd br gzip

    log {
        format console
        level DEBUG
    }

    php_server

    file_server
}
